@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }

body {
  background-color: #f8f9fa;
  color: #333;
}

.dark body {
  background-color: #1a1a1a;
  color: #f1f1f1;
}

}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}



.signature-image {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
